<ion-content padding class="bg-style">

    <div style="text-align:center;padding-top:30px;"><span style="font-family: Aressence; color:white; font-size:100px">Opikah</span></div>;
    <!-- 
    <h1 *ngIf="!auth.isLogged()">Your are not connected</h1>
    <h1 *ngIf="auth.isLogged()">Your are connected</h1>
    -->
    <div id="ion-margin">
        <form [formGroup]="loginCredential">
            <ion-item>

                <ion-input placeholder="Email" formControlName="email" type="text" [(ngModel)]="user.email"></ion-input>
            </ion-item>
            <br>
            <ion-item>

                <ion-input placeholder="Password" formControlName="password" type="password" [(ngModel)]="user.password"></ion-input>
            </ion-item>

        </form>
        <br>
        <button ion-button full (click)="login(user)" id="dark-button">Login</button>
        <p class="register">Nouveau membre ?
            <span [navPush]="RegisterPage">Créer un compte ici !</span>
        </p>
        <button ion-button full class="loginBtn loginBtn--facebook">
                Login with Facebook
              </button>
        <div id="firebaseui-auth-container"></div>
        <button ion-button full class="loginBtn loginBtn--google" (click)="auth.googleLogin()">
                Login with Google
              </button>
    </div>
</ion-content>  