page-forms {
  .opicoins-card {
    font-size: 2em;
    text-align: center
  }
  .published {
    color: green;
  }
  .notPublished {
    color: tomato;
  }
  .padding {
    padding: 5px;
  }
  .header {
    border-bottom: solid 3px color($colors, primary);
    background: white;
    ion-col{
        padding: 0px;
    }
  }
  .header-deconnexion {
    font-size: 0.8em;
    ion-icon {
        font-size: 1.3em;
    }
  }
  .header-email {
    text-align: right;
    font-size: 0.9em;
  }
  .header-opicoins {
    font-size: 1.3em;
    font-weight: bold;
   
    .opicoins-color {
      color: #ffa100;
    }
  }
}
