page-responses {
  .content {
    padding-top: 5px !important;
  }
  .opicoins-img {
    height: 50px;
    padding-top: 10px;

  }
  .mini-text{
      font-size: 0.6em;
      font-weight: bold;
  }
}
